*

!.editorconfig
!.envrc
!.gitignore
!flake.nix
!flake.lock
!vars.nix
!profiles.nix
!justfile
!switch-profile.sh
!.pre-commit-config.yaml
!test-profile-script.sh
!README.md
!LICENSE

!modules/
!modules/**

!pkgs/
!pkgs/**

!tests/
!tests/**

!docs/
!docs/**

!.github/
!.github/**

!scripts/
!scripts/**